p { font-family: 'PT Serif', serif; font-size: 12pt; line-height: 130%; text-align: justify;}
p.date { font-size: 10pt; text-align: center; margin-bottom: 40px;}
body { vertical-align: middle; text-align: center; margin: 0;}
a { color: #444; }
main { max-width: 600px; margin: 0 auto; }

footer {
  margin-top: 50px;
  margin-bottom: 10px;
  border-top: 1px solid #ddd;
  padding-top: 10px;
}

footer p {
  text-align: center;
  font-size: 0.7em;
}

ol { padding-left: 0px; }

ul { padding-left: 0px; }

li.entries {
list-style-type: none;
}

article {
  margin-top: 100px;
  margin-bottom: 50px;
}

h1 {
  font-weight: 700;
  font-family: 'Syncopate', sans-serif;
  font-size: 30pt;
  margin-bottom: 0px;
}

h2 {
  font-family: 'Syncopate', sans-serif;
  font-weight: 700;
  font-size: 26pt;
  margin-bottom: 0px;
}

a.entries { text-decoration: none; color: black; }

#top {
  width: 100%;
  display: block;
  position: relative;
  background: #66A3FF;
  padding-top: 100px;
  padding-bottom: 100px;
  font-family: 'Syncopate', sans-serif;
  font-weight: 700;
  color: #000099;
  z-index: 2;
  vertical-align: middle;
}

#top ul {
  padding-left: 0;
}

#top ul li {
  display: inline-block;
  list-style-type: none;
  padding-right: 10px;
  padding-left: 10px;
}

#top h1 {
  display: inline;
  font-size: 32pt;
}

#top h3 {
  display: inline;
  font-size: 18pt;
}

#top a {
  text-decoration: none;
  color: white;
}

#top img {
  vertical-align: middle;
}

header h2 a {
  text-decoration: none;
  color: black;
}

ul#tags li {
  display: inline;
  list-style-type: none;
  padding-right: 10px;
  padding-left: 10px;
  vertical-align: middle;
  border-right: 1px solid #bbb;
}

ul#tags li:last-child {
  border-right: none;
}

nav p {
  display: inline;
  width: 100%:
}

    .nav ul {
    list-style: none;
    background-color: #a3b3cc;
    text-align: center;
    padding: 0;
    margin: 0;
    }

    .nav li {
        font-family: 'Syncopate', sans-serif;
        font-weight: 200;
        font-size: 1.2em;
        line-height: 40px;
        height: 40px;
        border-bottom: 1px solid #888;
}

.nav a {
    text-decoration: none;
    color: #fff;
    display: block;
    transition: .3s background-color;
            }

            .nav a:hover {
                background-color: #005f5f;
}

.nav a.active {
    background-color: #fff;
    color: #444;
    cursor: default;
}

@media screen and (min-width: 600px) {
    .nav li {
        width: 120px;
        border-bottom: none;
        height: 50px;
        line-height: 50px;
        font-size: 1.4em;
}


.nav li {
    display: inline-block;
    margin-right: -4px;
}
code[class*="language-"],
pre[class*="language-"] {
font-size: 0.9em;
}
