html, body {
      padding: 50;
      margin: 30;
    }


    [data-id="blog-title"] { font-family:  'Hoefler Text', Georgia, 'Times New Roman', serif;
         font-weight: normal;
         font-size: 1.90em;
         letter-spacing: .2em;
         line-height: 1.1em;
         margin:0px;
         text-align: center;
         text-transform: uppercase;
         padding: 20;
    }

    [data-id="page-link"] {
         color: #35787E; 
         font-family: 'Source Sans Pro', sans-serif; 
         font-size: 20px; 
         text-decoration: none;
         font-weight: 400; 
         line-height: 32px; 
         margin: 0 0 24px; }
    }
    
    a:hover span { cursor: pointer }

    li {
      padding: 20;
      list-style-type: none; 
    }

    [data-id="content"] {
      padding: 10;
  }

    body {
          color: #325050;
          background: #f0f8ff;
          font-family: 'Libre Baskerville', sans-serif;
          Arial; font-size: 14pt;
          font-size: 70%;
    }

    [data-id="published-at"] {
          font-family: 'Libre Baskerville', sans-serif;
          Arial; font-size: 12pt;
    }




